
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.top-container {

    display: felx;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
    margin: 5rem 0;
}

button {
    min-width: 12rem;
    height: 40px;
    border:none;
    border-radius:7px;
    margin: 0 5px;
    background-color: blueviolet;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.search {
    display: flex;
    min-width: 15rem;
    justify-content: center; 
}

input {
    width: 30%;
    height: 2rem;
    border-radius: 30px;
}

#search-icon {
    border-radius: 30px;
    margin: 3px;

}

.display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}

.div-country {
    width: 8rem;
    height: 8rem;
    border: 2px solid black;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}